@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->

@{
    var articleId = Model.SessionParamsData.GetInt("articleid");
}
<!-- NOTE: Load AdminDetail.cshtml with simplsity from browser, so we have the sessionParams -->

<!-- create element to load settings. -->
<span id="loadarticledetail" class="w3-hide" s-cmd="articleadmin_editarticle" s-fields='{"systemkey":"@(systemData.SystemKey)","tabid":"@(Model.SessionParamsData.TabId)","articleid":"@articleId"}'></span>

<script>
    $(document).ready(function () {
        simplisity_callserver($('#loadarticledetail'), '/Desktopmodules/dnnrocket/api/rocket/action', '', false);
    });
</script>
