@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div class="w3-row w3-margin-bottom">
    <div onclick="$('#imgs').toggle();$('#imgsexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
        @ResourceKey("DNNrocket.images")
        <span id="imgsexpand" class="material-icons w3-right" style="display:none;">
            unfold_more
        </span>
    </div>
    <div id="imgs" class='w3-row sectionname w3-border w3-padding' style="">
        [INJECT:appthemedirectory,Articleimages.cshtml]
    </div>
</div>

