@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->
<div class="w3-row w3-margin-bottom">
    <div onclick="$('#propertiestab').toggle();" class="w3-button w3-block w3-theme w3-left-align w3-round-large " style="margin-bottom:8px;">
        <strong>@ResourceKey("RC.properties")</strong>
        <span id="propertiestabexpand" class="material-icons w3-right">
            unfold_more
        </span>
    </div>
    <div id="propertiestab" class='w3-row sectionname a-articlepropertylist w3-border w3-padding w3-round-large' style="">
        [INJECT:appthemedirectory,ArticlePropertyList.cshtml]
    </div>
</div>
