@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
    SEO
    <span id="seotabexpand" class="material-icons w3-right" style="display:none;">
        unfold_more
    </span>
</div>
[INJECT:appthemedirectory,ArticleSEO.cshtml]
