@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div class="w3-row w3-margin-bottom">
    <div onclick="$('#socialnettab').toggle();$('#socialnettabexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align  w3-margin-top">
        @ResourceKey("RC.socialmedia")
        <span id="socialnettabexpand" class="material-icons w3-right" style="display:none;">
            unfold_more
        </span>
    </div>
    <div id="socialnettab" class="w3-row w3-border w3-padding">
        [INJECT:appthemedirectory,ArticleSocialMedia.cshtml]
    </div>
</div>
