@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div class="w3-row w3-margin-bottom">
    <div onclick="$('#models').toggle();" class="w3-button w3-block w3-theme w3-left-align w3-round-large " style="margin-bottom:8px;">
        <strong>@ResourceKey("RC.models")</strong>
        <span id="modelsexpand" class="material-icons w3-right">
            unfold_more
        </span>
    </div>
    <div id="models" class='w3-row sectionname w3-border w3-padding w3-round-large' style="">
        [INJECT:appthemedirectory,ArticleModels.cshtml]
    </div>
</div>
