@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div onclick="$('#links').toggle();$('#linksexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
    @ResourceKey("DNNrocket.links")
    <span id="linksexpand" class="material-icons w3-right" style="">
        unfold_more
    </span>
</div>
<div id="links" class='w3-row sectionname w3-border w3-padding' style="display:none;">
    [INJECT:appthemedirectory,ArticleLinks.cshtml]
</div>
