@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
<div onclick="$('#reviews').toggle();$('#reviewsexpand').toggle();" class="w3-button w3-block w3-theme-l3 w3-left-align w3-margin-top">
    @ResourceKey("DNNrocket.reviews")
    <span id="reviewsexpand" class="material-icons w3-right" style="display:none;">
        unfold_more
    </span>
</div>
<div id="reviews" class='w3-row sectionname w3-border w3-padding' style="">
    [INJECT:appthemedirectory,ArticleReviews.cshtml]
</div>
