@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>

@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources")

<div class="w3-center w3-xlarge w3-margin">
    @ResourceKey("RC.noadminsettings")
</div>

